<!-- Detect if app is being uninstalled / disabled -->
<receiver
    android:name=".receiver.PackageReceiver"
    android:exported="true">
    <intent-filter android:priority="999">
        <action android:name="android.intent.action.PACKAGE_REMOVED" />
        <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
        <data android:scheme="package" />
    </intent-filter>
</receiver>